<div class="container-fluid p-4 acelerador-page">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1>Acelerador de Ventas</h1>
            <p class="text-muted">El curso avanzado para aprender a vender como dropshipper.</p>
        </div>
    </div>

    <div *ngIf="verificandoAcceso" class="text-center py-5">Cargando...</div>

    <ng-container *ngIf="!verificandoAcceso">

        <!-- Sin suscripcion vigente (con o sin sesion): vitrina de venta con los videos gancho -->
        <div *ngIf="!tieneAcceso" class="row justify-content-center py-4">

            <div class="col-12 col-md-6 mb-3" *ngIf="videoGancho1">
                <div class="ratio ratio-video-gancho">
                    <iframe [src]="videoGancho1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3" *ngIf="videoGancho2">
                <div class="ratio ratio-video-gancho">
                    <iframe [src]="videoGancho2" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 mb-4" *ngIf="videoGancho1 || videoGancho2">
                <div class="precio-banner">
                    <div class="precio-banner__icon"><i class="material-icons">workspace_premium</i></div>
                    <div class="precio-banner__text">
                        <span class="precio-banner__tag">Suscripcion mensual</span>
                        <h3 class="precio-banner__price">Tan solo <strong>$35 USD</strong></h3>
                        <p class="precio-banner__desc">Encontraras <strong>clases grabadas</strong> + <strong>acompañamiento personalizado</strong> para llevar tu negocio al siguiente nivel.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 text-center">
                <app-acelerador-checkout
                    buttonClass="btn btn-success btn-lg"
                    buttonLabel="Pagar Suscripcion"
                    (activada)="onSuscripcionActivada()">
                </app-acelerador-checkout>
            </div>

            <div class="col-12 mt-4">
                <h4 class="text-center">Contenido del curso</h4>
                <div class="row">
                    <div class="col-12 col-md-4 mb-3" *ngFor="let modulo of listModules">
                        <div class="card p-3">
                            <h5>{{ modulo.title }}</h5>
                            <p class="text-muted mb-0" *ngFor="let leccion of modulo.lessons">{{ leccion.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Suscripcion vigente: lista real de lecciones -->
        <div *ngIf="dataUser.id && tieneAcceso" class="row py-4">
            <div class="col-12 col-md-4 mb-4" *ngFor="let modulo of listModules">
                <div class="card p-3">
                    <h5>{{ modulo.title }}</h5>
                    <ul class="list-unstyled">
                        <li *ngFor="let leccion of modulo.lessons">
                            <a [routerLink]="['/acelerador/leccion', leccion.id]">{{ leccion.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </ng-container>
</div>
