

<div class="row" style="margin: 5px;">
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="col-12">
        <app-slider *ngIf="listBanner.length" [listGaleria]="listBanner" [view]="1" [lyImg]="'image'"></app-slider>
      </div>
    </div>
  </div>
  <div class="col-12" style="margin: auto;">
    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="col-12" style="width: 90%; margin: auto;">
          <app-slider [listGaleria]="imageObject" [view]="3" [routerUrl]="urlCategory" [lyImg]="'image'"></app-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="    margin-top: 20px;">
    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="col-12">
          <h5 style="margin-left: 25px;">MAS VENDIDOS</h5>
        </div>
        <div class="col-12">
          <app-slider [listGaleria]="listProductSlider" [view]="2" [lyImg]="'foto'"></app-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="    margin-top: 20px;">
    <div class="d-flex justify-content-center">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5 style="margin-left: 25px;">NOVEDADES</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="margin-top: 10px;">
    <div class="novedades-grid">
      <div class="novedades-card" *ngFor="let item of listProductos">
        <div class="novedades-img" (click)="agregar(item)">
          <img [src]="item.foto" [alt]="item.pro_nombre" loading="lazy">
        </div>
        <h4 class="novedades-title">{{ item.pro_nombre | slice: 0:20 }}</h4>
        <p class="novedades-price">precio a distribuidor: <span class="novedades-price-value">{{ _tools.monedaChange( 3, 2, ( item.pro_vendedor || 0 ) ) }}</span></p>
        <p class="novedades-price">Lo vendes a: <span class="novedades-price-value">{{ _tools.monedaChange( 3, 2, ( item.pro_uni_venta || 0 ) ) }}</span></p>
        <button type="button" class="novedades-btn" [ngStyle]="{'background-color':urlColor}" (click)="AgregarCart(item)">{{ titleButton }}</button>
      </div>
    </div>
  </div>
</div>
