

<div class="row" style="margin: 5px;">
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="col-12">
        <app-slider *ngIf="listBanner.length" [listGaleria]="listBanner" [view]="1" [lyImg]="'image'"></app-slider>
      </div>
    </div>
  </div>
  <div class="col-12" style="margin: auto;">
    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="col-12" style="width: 90%; margin: auto;">
          <app-slider [listGaleria]="imageObject" [view]="3" [routerUrl]="urlCategory" [lyImg]="'image'"></app-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="    margin-top: 20px;">
    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="col-12">
          <h5 style="margin-left: 25px;">MAS VENDIDOS</h5>
        </div>
        <div class="col-12">
          <app-slider [listGaleria]="listProductSlider" [view]="2" [lyImg]="'foto'"></app-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="    margin-top: 20px;">
    <div class="d-flex justify-content-center">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5 style="margin-left: 25px;">NOVEDADES</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Espacio reservado para la nueva vista debajo de Novedades -->
</div>
